<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Account profile</h5>
      <small class="text-muted float-end">All inputs are required</small>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="isValid">
        Please fill in all required fields.
      </div>
      <form [formGroup]="userForm">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bx-user"></i></span>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="John Doe"
                aria-label="John Doe"
              />
            </div>
            <!-- Display error message for 'name' control when it's invalid -->
            <div
              class="text-danger"
              *ngIf="
                userForm.get('name')?.invalid && userForm.get('name')?.touched
              "
            >
              Name is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Adresse</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"
                ><i class="bx bx-buildings"></i
              ></span>
              <input
                type="text"
                formControlName="country"
                class="form-control"
                placeholder="ACME Inc."
                aria-label="ACME Inc."
              />
            </div>
            <!-- Display error message for 'company' control when it's invalid -->
            <div
              class="text-danger"
              *ngIf="
                userForm.get('country')?.invalid &&
                userForm.get('country')?.touched
              "
            >
              Adress is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"
                ><i class="bx bx-envelope"></i
              ></span>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="john.doe"
                aria-label="john.doe"
              />
              <span class="input-group-text">@example.com</span>
            </div>
            <div class="form-text">
              You can use letters, numbers &amp; periods
            </div>
            <div
              class="text-danger"
              *ngIf="
                userForm.get('email')?.invalid && userForm.get('email')?.touched
              "
            >
              Adress is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 form-label">Phone No</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bx-phone"></i></span>
              <input
                type="text"
                formControlName="phone_nber"
                class="form-control phone-mask"
                placeholder="658 799 8941"
                aria-label="658 799 8941"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="
                userForm.get('phone_nber')?.invalid &&
                userForm.get('phone_nber')?.touched
              "
            >
              Adress is required.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 form-label">Role</label>
          <div class="col-sm-10">
            <select formControlName="role" class="form-select">
              <option value="select" selected>Select Role</option>
              <option value="subscriber">Visitor</option>
              <option value="admin">Administrator</option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                userForm.get('role')?.invalid && userForm.get('role')?.touched
              "
            >
              Please select a role.
            </div>
          </div>
        </div>
        <div class="mt-4 float-end">
          <button
            type="button"
            (click)="submitUser()"
            
            class="btn btn-primary me-2"
          >
            Save changes
          </button>
          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
        </div>
      </form>
    </div>
      
      <hr class="my-0">
      <div class="card-body">
      <form [formGroup]="passwordForm">
        <div class="mb-3 row">
          <label for="html5-password-input" class="col-md-2 col-form-label"
            >Password</label
          >
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-text"><i class="bx bx-lock"></i></span>
              <input type="text" 
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="your password"
              aria-describedby="button-addon2">
              <button class="btn btn-outline-primary" (click)="updatePassword()" type="button" id="button-addon2"> Save Password </button>
             
            </div>
            <div class="form-text">Minimum password length is 3</div>
            <div
              class="text-danger"
              *ngIf="
                userForm.get('password')?.invalid &&
                userForm.get('password')?.touched
              "
            >
              Password is required.
            </div>
          </div>
        </div>
      </form>
    </div>
 

  </div>
  <app-delete-user [userId]="userId" ></app-delete-user>
</div>
